body{
	margin: 0;
	background-color: #f6f6f6;
}
.wrapper {
	width: 1140px;
	margin: 10px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #a7d7f9;
	font-family: sans-serif;
}
h1, h2 {
	margin: 10px 0px 0px 0px;
	font-family: serif;
}
a {
	text-decoration-line: none;
}
a[href="predatory.html"],
a[href="mammals.html"],
a[href="index.html"] {
	color: red;
}
.contents {
	width: 130px;
	padding: 10px;
	border: 1px solid #696969;
	background-color: #f6f6f6;
	font-size: 13px;
}
.contents>ol {
	padding-left: 14px;
}
table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid;
	padding: 5px;
}
td>img {
	width: 100px;
}