ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: center;
}

.title {
  padding-top: 40px;
  color: #3914AF;
  text-align: center;
  font-size: 16px;
}


/*Nav
=====================*/
.nav {
  background-color: #eee;
}

.nav__item {
  margin: 40px 0;
}

.nav__icon {
  width: 60px;
  margin-bottom: 15px;
}

.nav__text {
  color: #FFAA00;
}


/*Aside
=====================*/
.aside {
  background-color: #eee;
}

.aside__list {
  text-align: center;
}

.aside__item {
  margin: 20px;
}

.aside__item_inline {
  display: inline-block;
}

.aside__icon {
  width: 40px;
  margin-bottom: 15px;
}

.aside__text {
  color: #3A7E19;
}


/*Main
========================*/
.main__article {
  margin-bottom: 60px;
}

.main__foto {
  width: 100%;
  margin:  20px 0;
  box-shadow: 5px 5px 10px 0;
}

.main__button {
  float: right;
  margin: 20px 60px 30px 20px
}

