.jumbotron {
  margin: 0;
}

.navbar {
  border-radius: 0;
  margin: 0;
}

.row {
margin:  20px;
}

.panel-img {
  width: 100%;
  padding: 15px;
}

.footer {
  background-color: #eee;
  margin-top: 40px;
  padding: 20px;
}

.footer__title {
  margin-top: 10px;
}

