@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .row {
    grid-column: 1/13;
    display: grid;
    grid-template-columns:  1fr;
    box-sizing: border-box;
  } 
  
  .nav__item {
    display: block;
  }

  .col-xs-hidden {
    display: none;
  }
}