html {
  font-size: 30px;
}

div {
  outline: 1px dashed #999;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.row {
  grid-column: 1/13;
  display: grid;
   grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
}

