html {
	font-family: Verdena, sans-serif;
	line-height: 1.3em;
	background-image: url(pictures/background.jpg);
	background-size: cover;
}

.wrapper{
	margin: 15px;
}

.header {
	width: 40%;
	border: 1px solid #78c0e0;
	border-radius: 10px;
	background-color: #fff;
	background-image: url(pictures/flower.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.nav__link {
	text-decoration: none;
}

.main {
	display: inline-block;
	margin: 45px 20px 0;
	background-color: rgba(0,130,255,0.2);
	background-clip: border-box;
}

.main__hello-text {
	font-weight: 700;
}

.main__welcome-text {
	color: #150578;
	text-shadow: 2px 2px 2px #777;
}

.main__welcome-img {
	width: 470px;
}

.article {
	margin: 0 150px 45px 150px;
	padding: 0 10px;
	width: 700px;
	border: 1px solid;
	text-align: justify;
	text-indent: 40px;
	letter-spacing: 2px;
	font-family: Segoe UI;
	line-height: 1.7em;
	background-color: #fff;
}

.article__title {
	color: #3943b7;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	
}

.article__link {
	text-decoration: none;
}

.footer__subscription-box {
	border: 1px dashed #3943b7;
	padding: 0 15px;
	border-radius: 10px;
	text-align: right;
	background-color: #fff;
}

.footer__text {
	line-height: 0.3em;
}

.footer__info {
	font-size: 0.8em;
	font-style: italic;
}