body {
  margin: 0;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top , #B059C8, #D53141);
}

.wrap:before {
  position: absolute;
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background: linear-gradient(90deg, #70ED3B , transparent);
}

.circle {
  position: absolute;
  animation-name: ani;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
  background-color: #fff;
  transform: rotate(0deg) translate(250px, 150px);
}

.circle1 {
  width: 100px;
  height: 100px;
}

.circle2 {
  width: 80px;
  height: 80px;
  opacity: 0.8;
  animation-delay: 0.1s;
}

.circle3 {
  width: 60px;
  height: 60px;
  opacity: 0.7;
  animation-delay: 0.2s;
}

.circle4 {
  width: 40px;
  height: 40px;
  opacity: 0.6;
  animation-delay: 0.3s;
}

.circle5 {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  animation-delay: 0.4s;
}

@keyframes ani {
  0% {
    transform: rotate(0deg) translate(250px, 150px);
  }

  25% {
    transform: rotate(-60deg) translate(250px, 150px);
  }

  50% {
    transform: rotate(-60deg) translate(-250px, -150px);
  }

  75% {
    transform: rotate(0deg) translate(-250px, -150px);
  }

  100% {
    transform: rotate(0deg) translate(250px, 150px);
  }
}