body {
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
}

.nav {
  padding: 20px 0;
  width: 42px;
  background-color: #ec1c5a;
  font-size: 12px;
  transition: 0.3s;
  font-family: sans-serif;
}

.nav:hover {
  width: 250px;
}

.nav:hover .nav__hidtext {
  transform: translate(0px);
}

.nav:hover .nav__hidtext_about {
  transition-delay: 0.1s;
}

.nav:hover .nav__hidtext_work {
  transition-delay: 0.2s;
}

.nav:hover .nav__hidtext_blog {
  transition-delay: 0.3s;
}

.nav:hover .nav__hidtext_contact {
  transition-delay: 0.4s;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__linc {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.nav__linc:hover {
  background-color: #000;
  color: #ec1c5a;
}

.nav__linc:hover .nav__icon {
  fill: #ec1c5a;
}

.nav__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  padding: 0 10px;
  fill: #fff;
  transition: fill 0.3s;
}

.nav__inner {
  overflow: hidden;
}

.nav__hidtext {
  margin: 10px 0;
  transform: translate(-100px);
  transition: transform 0.2s;
}

.main {
  width: 100%;
  background-image: url(https://picsum.photos/1000/200);
  background-size: 1140px;
}