* {
  margin: 0;
}

.container {
  position: relative;
  height: 100vh;
  background-image: url(https://i.imgur.com/rsvgdbm.png);
}

.moon {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 125px;
  height: 125px;
  transform: translate(-50%, -50%);
  background-image: url(https://i.imgur.com/EHrvLa0.png);
  background-position: left 10px top 10px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: top 1s, left 1s;
}

.nlo {
  position: absolute;
  display: block;
  top: 50vh;
  left: 50vw;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background: url(https://i.imgur.com/7ovKJVk.png)
    center/120% 120%;
  border: 2px solid #333;
  border-radius: 50%;
  transition: top 1s, left 1s;
}


.wrap:hover  .nlo1 {
  top: 10%;
  left: 90%;
}
.wrap:hover  .nlo2 {
  top: 10%;
  left: 50%;
}
.wrap:hover  .nlo3 {
  top: 10%;
  left: 10%;
}
.wrap:hover  .nlo4 {
  top: 50%;
  left: 10%;
}
.wrap:hover  .nlo5 {
  top: 90%;
  left: 10%;
}
.wrap:hover  .nlo6 {
  top: 90%;
  left: 50%;
}
.wrap:hover  .nlo7 {
  top: 90%;
  left: 90%;
}
.wrap:hover  .nlo8 {
  top: 50%;
  left: 90%;
}



.nlo1 {
  transition-delay: .2s;
}
.nlo2 {
  transition-delay: .3s;
}
.nlo3 {
  transition-delay: .4s;
}
.nlo4 {
  transition-delay: .5s;
}
.nlo5 {
  transition-delay: .6s;
}
.nlo6 {
  transition-delay: .7s;
}
.nlo7 {
  transition-delay: .8s;
}
.nlo8 {
  transition-delay: .9s;
}