html {
  font-size: 30px;
}

div {
  outline: 1px dashed #999;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  &-fluid {
    width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  }
}

.row {
  grid-column: 1/13;
  display: grid;
   grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .row {
    grid-column: 1/13;
    display: grid;
    grid-template-columns:  1fr;
    box-sizing: border-box;
  } 
  
  .nav__item {
    display: block;
  }

  .col-xs-hidden {
    display: none;
  }
}


@media (min-width: 768px) {
  .col {
    box-sizing: border-box;
    padding: 0 15px;
  }

  .container {
    width: 720px;
  }
  
  .col-sm-hidden {
    display: none;
  }

  @column-name: col-sm;
  @column-count: 12;

  .generate-column(@i: 1) when (@i =< @column-count) {
    .@{column-name}-@{i} {
      grid-column: span @i;
      &:extend(.col);
    }

    .generate-column(@i + 1);
  }

  .generate-column();
}


@media (min-width: 992px) {
  .col {
    box-sizing: border-box;
    padding: 0 15px;
  }

  .container {
    width: 940px;
  }

  .col-md-hidden {
    display: none;
  }
  
  @column-name: col-md;
  @column-count: 12;

  .generate-column(@i: 1) when (@i =< @column-count) {
    .@{column-name}-@{i} {
      grid-column: span @i;
      &:extend(.col);
    }

    .generate-column(@i + 1);
  }

  .generate-column();

}


@media (min-width: 1200px) {
  .col {
    box-sizing: border-box;
    padding: 0 15px;
  }

  .container {
    width: 1140px;
  }

  .col-lg-hidden {
    display: none;
  }
  
  @column-name: col-lg;
  @column-count: 12;

  .generate-column(@i: 1) when (@i =< @column-count) {
    .@{column-name}-@{i} {
      grid-column: span @i;
      &:extend(.col);
    }

    .generate-column(@i + 1);
  }

  .generate-column();

}

